/*Navbar*/
.navbar {
  background-color: #e3f2fd;
}

/*Content*/
.content {
  padding: 2rem;
}

address {
  font-size: small;
}

/*People*/
h3 {
  font-size: 1.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.card {
  max-width: 10rem;
}

.card-body {
  padding: 0.25rem;
}

.card-footer {
  padding: 0.25rem;
}

.card-title {
  padding: .25rem;
  font-weight: bold;
}

.card-text {
  font-size: smaller;
  padding: .25rem;
}

.row {
  margin: 0rem;
}
