.card-deck { width: 54rem; }

html,
body {
  margin:0;
   padding:0;
  font-family: Arial, sans-serif;
  height: 100%;
}

.outer {
  min-height:100%;
  position:relative;
  padding-bottom:135px;   /* Height of the footer */
}

a {
  color: #00A6D6;
}

address {
  font-size: small;
}

h3 {
  font-size: 1.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

/*Navbar*/
.navbar, .tudelft {
  background-color: #00A6D6;
}

@media(max-width: 992px) {

  .navbar {
    min-height: 80px;
  }

  .navbar-toggler-icon {
    width: 2em;
    height: 2em;
  }

  body {
    font-size: 1.5em;
  }

}

.logo {
  height: 35px;
}

@media(max-width: 992px) {
  .logo {
    height: 45px;
  }
}

.navbar-light .navbar-nav .nav-link, .tudelft {
  color: #fff;
}

.container-center {
  text-align: center;
}

/*Content*/
.content {
  padding: 1rem;
  display: inline-block;
  text-align: left;
}

@media(min-width: 992px) {
  .content {
    width: 80%;
  }
}

/*People*/
.card {
  max-width: 10rem;
}

.card-body {
  padding: 0.25rem;
}

.card-footer {
  padding: 0.25rem;
}

.card-title {
  padding: .25rem;
  font-weight: bold;
}

.card-text {
  font-size: smaller;
  padding: .25rem;
}

.row {
  margin: 0rem;
}

.non-top-row {
  padding-top: 25px
}

/* Tables, for examples used for listing research projects. */

th, td {
    padding: 6px;
    border-bottom: 1px solid #ddd;
}

tr:hover {background-color: #f5f5f5;}

tr:nth-child(even) {background-color: #f2f2f2;}

th {
    background-color: #00A6D6;
    color: white;
}

/*Footer*/
.outer-footer {
  position:absolute;
  bottom:0;
}

.myfooter {
  padding-top: 1rem;
  padding-bottom: 0rem;
}

.copyright {
  font-size: 6pt;
}

.center-image
{
    margin: 0 auto;
    display: block;
}
