---
layout: default
---

<div class="row">
  <div class="col-md-2">
    <b>Follow us</b><br>

    <a href="http://twitter.com/serg_delft"><i class="fab fa-twitter fa-2x"></i></a>

    <a href="https://github.com/serg-Delft"><i class="fab fa-github fa-2x"></i></a>

    <br>
    <br>

    <b>Visit us</b>
    <address>
     <abbr title="Address"><i class="fa fa-map-marker" aria-hidden="true"></i></abbr>
      Building 28 <br>
      van Mourik Broekmanweg 6<br>
      2628 XE, Delft<br>
      the Netherlands <br>
      <br>
    </address>
  </div>
  <div class="col-md-10">
    {{ content }}
  </div>
</div>
